.entries-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5em;
   justify-content: space-evenly;
}
.entry {
    width: 15rem;
    padding: 1rem;
    background: linear-gradient(45deg, aqua, transparent);
    border: coral;
    border-style: solid;
}