label {
    margin-top: 10px;
}

.form_state {
    margin-top: 10px;
    text-align: center;
}

.builder {
    text-align: center;
    border-style: groove;
    border-color: aquamarine;
    border-width: thick;
}

button {
    align-items: center;
}