.container {
    display: flex;
    margin-top: 20px;
   justify-content: center;
}

.entry-input {
    border-radius: 25px;
    padding: 5px;
    background-color: coral;
    text-align: center;
    border-style: groove;
    border-color: aquamarine;
    border-width: thick;
    background: linear-gradient(45deg, aqua, transparent);
}

.label {
    color: coral;
    text-shadow: 2px 2px black;
}

.form_state {
    margin-top: 50px;
    font-size: xx-large;
    color: coral;
    text-shadow: 2px 2px black;
    text-align: center;
}