
.entries-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
   justify-content: space-evenly;
}
.entry {
    border-radius: 25px;
    width: 15rem;
    margin-top: 1rem;
    padding: 1rem;
    background: linear-gradient(45deg, aqua, transparent);
    border: coral;
    border-style: solid;
}

.entry:hover {
    animation: jiggle 0.2s;
    transition: .4s all ease;
    z-index: 11;
    box-shadow: 5px 15px 20px rgba(72, 62, 23, 0.4);
}

li {
    text-align: left;
}

p {
   text-align: justify;
}
h2 {
    background-color: aqua;
    color: coral;
    text-shadow: 2px 2px black;
    border-style: solid;
    font-family: monospace;
    font-size: 3rem;
   text-align: center;
   background: linear-gradient(45deg, aqua, transparent);
}

.hide {
    display: none;
}

.date:hover + .hide {
    display: block;
    color: coral;
    text-shadow: 2px 2px black;
}

